# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# seed data
**/out

# generated
/generated

# ignore mocks and stubs (TODO: test this and decide)
# **/*.mock.{ts}
# **/*.stub.{ts}
# **/stubs.{ts}
